## 0. Obsługa jupyter notebook

#### edycja - podświetlenie zielone
`shift` + `enter` - wywołanie komórki i przejście do kolejnej (stworzenie kolejnej)

`ctrl` + `enter` = wywołanie komórki

#### wybór - podświetlenie niebieskie
`A` - stworzenie komórki nad obecną komórką (Above)

`B` - stworzenie komórski pod obecną komórką (Below)

`D` + `D` - usunięcie podświetlonej komórki

#### typ komórki
`ctrl` + `M` - code > markdown 

`ctrl` + `Y` - markdown > code 


#### gdy nie wiemy jak działa dana funkcja w biblitece
`shift` + `tab` - wyświetlenie dokumentacji (DocString)

# 1. NumPy

In [ ]:
import numpy as np

## 1.1 Typy danych w tablicach numpy

In [ ]:
# lista
[1, 2, 3, 4, 5]

In [ ]:
# lista array
np.array([1, 2, 3, 4, 5])

In [ ]:
a = np.array([1, 2, 3, 4, 5])
a

In [ ]:
type(a)

In [ ]:
# typ listy zależny od tego co wrzucimy do listy 
a.dtype

`dtype` - typ skalarów w liście

In [ ]:
np.array([1, 2, 3, 4, 5], dtype = "float32")

In [ ]:
np.array([1, 2, 3, 4, 5], dtype = "str") # zwraca unicode

hierarchia dtype

In [ ]:
# co się stanie jak float znajdzie się w liście intów?
np.array([1, 2, 3.14, 2.9123412312], dtype = "int64")

In [ ]:
# co się stanie jak napis znajdzie się w liście intów?
np.array([1, 2, 3, "słoń"])

## 1.2 Tworzenie tablic w numpy

In [ ]:
[i for i in range(5)]

In [ ]:
np.arange(5)

In [ ]:
[i for i in range(3, 10, 2)]

In [ ]:
np.arange(3, 10, 2)

In [ ]:
# lista ser
np.zeros(10)

In [ ]:
# lista jedynek
np.ones(10)

In [ ]:
# repeat
np.repeat(3, 5)

In [ ]:
np.repeat([3, 4], 4)

In [ ]:
np.array([3, 4]).repeat(2).repeat(2)

In [ ]:
np.array([3, 4]).repeat([1,3])

In [ ]:
# bardziej intuicyjne
np.tile([3, 4], 3)

# 1.3 ndarray - wielowymiarowość

In [ ]:
a = [[1, 2, 3],
     [1, 2, 3]]

b = np.array(a)
b

In [ ]:
# wymiar
b.ndim

In [ ]:
# ksztalt - ile wierszy, kolumn
b.shape

In [ ]:
c = np.ones(24, dtype = "int32")

In [ ]:
c.shape

In [ ]:
c.reshape(24, 1)

In [ ]:
c.reshape(4, 6)

**Uwaga!** możemy wykonywać `reshape` dopóki `shape` pomieści dokładnie tyle danych ile elementów ma pierwotna lista.

In [ ]:
c.reshape(4, 5)

In [ ]:
# do jednego wymiaru
d = c.flatten()
d

In [ ]:
d.reshape(4, 3, 2) # lista mająca 4 listy, które mają 3 listy po 2 elementy

# 1.4 Indeksowanie

In [ ]:
a = np.arange(20).reshape(4, 5)
a

In [ ]:
a[2]

In [ ]:
a[1:3]

In [ ]:
a[1:3, 2:4]

In [ ]:
a[:, 1:5]

In [ ]:
a > 10

In [ ]:
a[a > 10]

In [ ]:
(a > 3) and (a < 10)

In [ ]:
a > 3 & a < 10

In [ ]:
(a > 3) & (a < 10)

In [ ]:
a[(a > 3) & (a < 10)]

In [ ]:
a[(a > 3) | (a < 10)]

In [ ]:
# szukanie indeksów
index = np.where((a > 3) & (a < 10))
index
# krotka, pierwsza lista wskazuje wiersz, druga lista wskazuje kolumny

## 1.5 Zadanie 1

1. Stwórz macierz 1)
2. Spróbuj indeksami dostać się do elementów zaznaczonych na czerwono 2), 3), 4) 
3. Znajdź indeksy wartości mniejszych niż 10, ale większych od 4

![](img/Zadanie1.png)

# 2. Operacje na tablicach

## 2.1 Podstawowe działania

In [ ]:
# listy a, b
a = np.array([1, 1, 2, 1])
b = np.array([1, 2, 3, 4])

In [ ]:
a + 3
a * 3

In [ ]:
a + b
a - b
a/b

In [ ]:
a = np.arange(5)
b = np.repeat(2, 4)

a + b

## 2.2 Metody obiektów ndarray

In [ ]:
a = np.arange(10, 21)

In [ ]:
a.mean()

In [ ]:
a.sum()
a.max()
a.min()
a.argmax() # indeks maksymalnej wartości

In [ ]:
a.cumsum()

In [ ]:
a.sum(axis = 0)

In [ ]:
A = np.arange(5*5).reshape(5,5)
A

In [ ]:
A.sum()

In [ ]:
A.sum(axis = 0)
A.sum(axis = 1)

In [ ]:
A.max(axis = 0)
A.min(axis = 1)

In [ ]:
b = np.array([1, -1, 1, -1, 1])

In [ ]:
A * b

In [ ]:
A * b.reshape(5, 1)

In [ ]:
B = np.arange(50).reshape(5, 10)
B

In [ ]:
A @ B

In [ ]:
np.dot(A, B)

# 2.3 Zadanie 2

Napisz funkcję `dzialanie`, która jako argumenty przyjmuje dwie listy A i B (o wymiarach (20, )), a następnie konwertuje je do macierzy, która ma 4 wiersze i 5 kolumn. W kolejnym kroku na tak powstałych macierzach wykonaj operacje:

1. Kolumna `A` o indeksie 2 jest mnożona przez sumę wiersza `B` o indeksie 3.
2. Kolumna `A` o indeksie 4 jest zamieniona przez kolumnę `B` o indeksie 1 pomnożoną przez -2.
3. Macierz `C` to macierz powstała z kroków 1 i 2.
4. Co druga kolumna macierzy C jest mnożona przez 2.

In [ ]:
def dzialanie(A, B):
    
    
    
    return C

In [ ]:
A = np.arange(1, 21)
B = np.arange(20, 40)

dzialanie(A, B)

In [ ]:
# array([[   2,    2, 1110,    4,  -84],
#        [  12,    7, 2960,    9, -104],
#        [  22,   12, 4810,   14, -124],
#        [  32,   17, 6660,   19, -144]])

# 3. Wprowadzenie do pandas

## 3.1 Podstawy

In [ ]:
import pandas as pd

In [ ]:
# import danych
df = pd.read_csv("https://raw.githubusercontent.com/R-Ladies-Warsaw/PoweR/master/Cz%C4%99%C5%9B%C4%87%202%20-%20Formatowanie%20danych/Python/data/vgsales.csv",
                delimiter = ",").dropna().reset_index(drop = True)

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df.head()

In [ ]:
df = df.drop("Rank", axis = 1)

In [ ]:
df

## 3.1.1 Atrybuty pd.DataFrame

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.axes

In [ ]:
df.shape

## 3.1.2 Wybieranie kolumn

In [ ]:
df["Platform"]

In [ ]:
df.JP_Sales

In [ ]:
df[["Platform", "Name"]]

# 3.2 Indeksowanie

Główne sposoby indeksowania:

1. []
2. .iloc[]
3. .loc[]

In [ ]:
np.random.seed(123)

In [ ]:
smalldf = df.iloc[np.random.randint(0, df.shape[0], 10),:].reset_index(drop = True)

In [ ]:
smalldf

### Sposób 1) []

In [ ]:
smalldf[1:3] # dla obserwacji

In [ ]:
smalldf[0::2] # co druga obserwacja

In [ ]:
# nie można łączyć
smalldf[0:4, 1]

### Sposób 2) .loc[]

In [ ]:
smalldf.loc[0:4, ["Name", "Platform"]]

In [ ]:
smalldf.loc[0:4, smalldf.columns[0:4]]

In [ ]:
smalldf.loc[smalldf.Global_Sales > 1]

In [ ]:
smalldf.loc[(smalldf.Genre == "Platform") & (smalldf.Year < 2010)]

### Sposób 3) .iloc[]

In [ ]:
smalldf.iloc[0:3, 3:5]

In [ ]:
smalldf.iloc[[0, 1, 2], [3, 4]]

In [ ]:
smalldf.iloc[2:10:3, 2:10:2]

**Komentarz:**

- gdy chcemy kolumnę po nazwie - []
- gdy chcemy obserwacje, kolumny po wartościach logicznych lub ich nazwach - .loc[]
- gdy chcemy obserwacje, kolumny po ich indeksach - .iloc[]

# 3.3 Metody ramki danych

In [ ]:
df.Name

In [ ]:
df.Name.count()

In [ ]:
df.Name.unique()
df.Name.unique().shape

In [ ]:
df.Year.mode()
df.Global_Sales.median()
df.Global_Sales.max()

In [ ]:
df.describe()

In [ ]:
# ile gier sprzedało się w nakładzie większym niż 1 mln
df.loc[df.Global_Sales > 1].shape

In [ ]:
# jaki procent wszystkich gier
df.Global_Sales[df.Global_Sales > 1].count()/df.Global_Sales.count()*100

In [ ]:
year_min = df.Year.argmin()
year_min

In [ ]:
df.Year[year_min]

In [ ]:
df.NA_Sales + df.EU_Sales

In [ ]:
df.EU_Sales.sort_values(ascending = False)

In [ ]:
df.EU_Sales.sort_values(ascending = False).head()

In [ ]:
df.EU_Sales.sort_values(ascending = False).reset_index().head()

In [ ]:
df.EU_Sales.sort_values(ascending = False).reset_index(drop = True).head()

In [ ]:
df.sort_values(["Genre", "Platform"]).reset_index(drop = True).head()

# 3.4 Zadanie 3

Wybierz gry, które sprzedały się lepiej w Europie niż w Ameryce Północnej. Ile ich było? Jaki to procent wszystkich gier?

# 3.5 groupby & merge

In [ ]:
df.groupby("Genre")

In [ ]:
df.groupby("Genre").Name

In [ ]:
df.groupby("Genre")[["Name", "Global_Sales"]]

In [ ]:
df.groupby("Genre").Name.agg("count")

In [ ]:
df.groupby("Genre").Global_Sales.agg("sum")

In [ ]:
df2 = df.groupby(["Genre", "Platform"])[["Global_Sales", "Name"]].agg("max")

In [ ]:
df2

In [ ]:
df3 = df.groupby("Platform").Global_Sales.agg("sum")

In [ ]:
df3 = df3.to_frame()
df3 = df3.reset_index()

In [ ]:
df3.head()

In [ ]:
df4 = df.merge(df3, on = "Platform")

In [ ]:
df4 = df4.rename(columns = {'Global_Sales_y' : "Platform_Global_Sales",
                     'Global_Sales_x' : "Global_Sales"})

In [ ]:
df4.head()

# 3.6 Zadanie 4

Które gry sprzedały się najlepiej w swojej kategorii?

# 3.7 Zadanie 5

Jaka była sprzedaż gier na konsolę w 2 roku ich sprzedaży. Pokaż tylko te konsole, w których sprzedaż w 2 roku była mniejsza niż w 1.

# pandas.plot

Doc: 

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html
- https://pandas.pydata.org/docs/user_guide/visualization.html

In [ ]:
df.head()

In [ ]:
df.plot(x = "EU_Sales", y = "NA_Sales", kind = "scatter", alpha = 0.5)

In [ ]:
df.groupby("Genre").size().plot.bar()

In [ ]:
df.loc[:, ["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]].plot.box(logy = True)

In [ ]:
[df.Genre.nunique(), df.Platform.nunique()]

In [ ]:
df.groupby(["Year"]).agg({"Global_Sales": "sum", "Name": "count"}).\
    plot.line(subplots = True, legend = False, figsize = (10, 6), title = "Global sales vs number of games per year")